{
  "openapi": "3.0.0",
  "info": {
    "title": "Djobea Providers API",
    "version": "1.0.0",
    "description": "API for managing service providers"
  },
  "servers": [
    {
      "url": "http://djobea.ai/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/providers": {
      "get": {
        "summary": "Get list of providers",
        "tags": ["Providers"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "Page number"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            },
            "description": "Number of items per page"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term"
          },
          {
            "name": "service",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by service type"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by location"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "suspended"]
            },
            "description": "Filter by status"
          },
          {
            "name": "rating",
            "in": "query",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 5
            },
            "description": "Minimum rating filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Providers retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "providers": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Provider"
                          }
                        },
                        "stats": {
                          "$ref": "#/components/schemas/ProvidersStats"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new provider",
        "tags": ["Providers"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProviderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Provider created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Provider"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/providers/{id}": {
      "get": {
        "summary": "Get provider by ID",
        "tags": ["Providers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Provider"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update provider",
        "tags": ["Providers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProviderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider updated successfully"
          }
        }
      },
      "delete": {
        "summary": "Delete provider",
        "tags": ["Providers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider deleted successfully"
          }
        }
      }
    },
    "/providers/{id}/status": {
      "put": {
        "summary": "Update provider status",
        "tags": ["Providers"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["active", "inactive", "suspended"]
                  }
                },
                "required": ["status"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider status updated successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "whatsapp": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverageAreas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hourlyRate": {
            "type": "number"
          },
          "experience": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "reviewCount": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended"]
          },
          "availability": {
            "type": "string",
            "enum": ["available", "busy", "offline"]
          },
          "performanceStatus": {
            "type": "string",
            "enum": ["excellent", "good", "warning", "poor"]
          },
          "totalMissions": {
            "type": "integer"
          },
          "successRate": {
            "type": "number"
          },
          "responseTime": {
            "type": "number"
          },
          "joinDate": {
            "type": "string",
            "format": "date"
          },
          "acceptanceRate": {
            "type": "number"
          }
        }
      },
      "CreateProviderRequest": {
        "type": "object",
        "required": ["name", "phone", "email", "services"],
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "whatsapp": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverageAreas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hourlyRate": {
            "type": "number"
          },
          "experience": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "UpdateProviderRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "whatsapp": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "services": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coverageAreas": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "hourlyRate": {
            "type": "number"
          },
          "experience": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "ProvidersStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "active": {
            "type": "integer"
          },
          "inactive": {
            "type": "integer"
          },
          "suspended": {
            "type": "integer"
          },
          "available": {
            "type": "integer"
          },
          "avgRating": {
            "type": "number"
          },
          "newThisMonth": {
            "type": "integer"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "hasNext": {
            "type": "boolean"
          },
          "hasPrev": {
            "type": "boolean"
          }
        }
      }
    }
  }
}
