{
  "openapi": "3.0.0",
  "info": {
    "title": "Djobea Requests API",
    "version": "1.0.0",
    "description": "API for managing service requests"
  },
  "servers": [
    {
      "url": "http://djobea.ai/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/requests": {
      "get": {
        "summary": "Get list of requests",
        "tags": ["Requests"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serviceType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "priority",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["low", "normal", "high", "urgent"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pending", "assigned", "in-progress", "completed", "cancelled"]
            }
          },
          {
            "name": "dateRange",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["today", "week", "month", "quarter"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Requests retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Request"
                          }
                        },
                        "stats": {
                          "$ref": "#/components/schemas/RequestsStats"
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new request",
        "tags": ["Requests"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request created successfully"
          }
        }
      }
    },
    "/requests/{id}": {
      "get": {
        "summary": "Get request by ID",
        "tags": ["Requests"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request retrieved successfully"
          }
        }
      },
      "put": {
        "summary": "Update request",
        "tags": ["Requests"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRequestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request updated successfully"
          }
        }
      }
    },
    "/requests/{id}/assign": {
      "post": {
        "summary": "Assign request to provider",
        "tags": ["Requests"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "providerId": {
                    "type": "string"
                  }
                },
                "required": ["providerId"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request assigned successfully"
          }
        }
      }
    },
    "/requests/{id}/cancel": {
      "post": {
        "summary": "Cancel request",
        "tags": ["Requests"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                },
                "required": ["reason"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request cancelled successfully"
          }
        }
      }
    },
    "/requests/{id}/status": {
      "put": {
        "summary": "Update request status",
        "tags": ["Requests"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": ["pending", "assigned", "in-progress", "completed", "cancelled"]
                  }
                },
                "required": ["status"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request status updated successfully"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Request": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "clientName": {
            "type": "string"
          },
          "clientPhone": {
            "type": "string"
          },
          "clientEmail": {
            "type": "string"
          },
          "serviceType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "normal", "high", "urgent"]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "assigned", "in-progress", "completed", "cancelled"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "scheduledDate": {
            "type": "string",
            "format": "date-time"
          },
          "urgency": {
            "type": "boolean"
          },
          "estimatedCost": {
            "type": "number"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          },
          "assignedProvider": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "rating": {
                "type": "number"
              }
            }
          }
        }
      },
      "CreateRequestRequest": {
        "type": "object",
        "required": ["clientName", "clientPhone", "serviceType", "description", "location"],
        "properties": {
          "clientName": {
            "type": "string"
          },
          "clientPhone": {
            "type": "string"
          },
          "clientEmail": {
            "type": "string"
          },
          "serviceType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "normal", "high", "urgent"],
            "default": "normal"
          },
          "urgency": {
            "type": "boolean",
            "default": false
          },
          "estimatedCost": {
            "type": "number"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "UpdateRequestRequest": {
        "type": "object",
        "properties": {
          "clientName": {
            "type": "string"
          },
          "clientPhone": {
            "type": "string"
          },
          "clientEmail": {
            "type": "string"
          },
          "serviceType": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "normal", "high", "urgent"]
          },
          "urgency": {
            "type": "boolean"
          },
          "estimatedCost": {
            "type": "number"
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notes": {
            "type": "string"
          }
        }
      },
      "RequestsStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "pending": {
            "type": "integer"
          },
          "assigned": {
            "type": "integer"
          },
          "inProgress": {
            "type": "integer"
          },
          "completed": {
            "type": "integer"
          },
          "cancelled": {
            "type": "integer"
          },
          "avgResponseTime": {
            "type": "string"
          },
          "completionRate": {
            "type": "number"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      }
    }
  }
}
